/* Waybar CSS - Catppuccin Macchiato */

* {
  border: none;
  border-radius: 6px;
  font-family: "Hack Nerd Font", "Symbols Nerd Font", "IosevkaTerm Nerd Font", "JetBrainsMonoNL Nerd Font Propo", "MesloLGS Nerd Font Mono", FontAwesome, monospace;
  font-size: 18px;
  min-height: 30px;
}

window#waybar {
  background: rgba(36, 39, 58, 0.95);
  color: #cad3f5;
}

#workspaces button {
  padding: 0 6px;
  color: #8aadf4;
  background: transparent;
}
#workspaces button.urgent {
  background: #ed8796;
  color: #24273a;
}

#clock,
#memory,
#cpu,
#temperature,
#disk,
#battery,
#network,
#pulseaudio,
#tray,
#custom-power,
#custom-appmenu,
#idle_inhibitor,
#power-profiles-daemon {
  min-width: 42px;
  background: #24273a;
  color: #cad3f5;
}

#cpu.good,
#battery.good {
  color: #8aadf4;
}

#cpu.warning,
#disk.warning,
#memory.warning,
#battery.warning,
#temperature.warning {
  color: #eed49f;
}

#cpu.critical,
#disk.critical,
#memory.critical,
#battery.critical,
#temperature.critical {
  color: #ed8796;
}

#custom-appmenu {
  margin-right: 6px;
  background: #7dc4e4;
  color: #24273a;
}

#tray {
  margin: 0 6px;
}

#pulseaudio {
  margin: 0 6px;
}

#power-profiles-daemon {
  background: #a6da95;
  color: #24273a;
}

#idle_inhibitor {
  background: #c6a0f6;
  color: #24273a;
}
#idle_inhibitor.activated {
  background: #cad3f5;
}

#custom-power {
  background: #ed8796;
  color: #24273a;
}
